@import url("https://fonts.googleapis.com/css2?family=Nosifer&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Nosifer, sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* padding: 1rem; */
  background-image: linear-gradient(to right, #fecea6 0%, #d4d4d4 100%);
}
.dark {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
h1 {
  width: 100%;
  font-size: 3rem;
  background: -webkit-linear-gradient(70deg, #ff0000, #2e2e2e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 1rem;
  text-align: center;
}
.functions {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
form {
  width: 100%;
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}
#filterForm {
  justify-content: space-around;
  gap: 1rem;
}
#searchForm {
  justify-content: center;
}
#searchForm input {
  width: 150px;
  padding: 10px;
  width: 100%;
  border: 1px dotted gray;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
  transition: 0.3s;
  background-color: antiquewhite;
  font-size: 1.2rem;
  font-weight: 700;
}
#searchForm input:focus {
  box-shadow: none;
}
#searchForm input::placeholder {
  font-size: 1rem;
  text-transform: capitalize;
}
.filterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
#filterOption {
  width: 200px;
  padding: 14px;
  background-color: rgb(253, 231, 202);
  border-radius: 10px;
  appearance: none;
  text-align: center;
  outline: none;
  border: 1px dotted gray;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.7);
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 700;
}
#filterOption:focus {
  border-radius: 10px 10px 0 0;
}
option {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}
option:checked {
  background-color: rgb(241, 198, 103);
}
button {
  appearance: button;
  background-color: antiquewhite;
  background-image: none;
  border: 1px solid #fad1d1;
  border-radius: 10px;
  box-shadow: #505050 4px 4px 0 0, #1b1919 4px 4px 0 1px;
  box-sizing: border-box;
  color: #050505;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 10px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

button:focus {
  text-decoration: none;
}

button:hover {
  text-decoration: none;
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
  outline: 0;
}

button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    padding: 12px 50px;
  }
}
#pokemon-container {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
}
.box {
  position: relative;
  width: 220px;
  height: 280px;
  perspective: 1000px;
}
.box-content {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 1s;
}
.box:hover .box-content {
  transform: rotateY(180deg);
}
.box-front,
.box-back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(49, 49, 49, 0.5);
}

.box-back {
  transform: rotateY(180deg);
  position: relative;
}
.pokeName {
  font-size: 1.3rem;
  color: rgb(59, 59, 59);
  margin-bottom: 0.8rem;
}
.pokeType {
  background-color: rgb(56, 26, 26);
  color: aliceblue;
  font-size: 0.9rem;
  padding: 3px;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}
p {
  width: 100%;
  font-size: 0.8rem;
  text-align: center;
  background-color: beige;
  color: rgb(82, 80, 80);
}
.pokeBackId {
  position: absolute;
  top: -30px;
  border-radius: 10px 10px 0 0;
}
.pokeBackImg {
  margin-top: -2rem;
  width: 200px;
  height: 120px;
}
.pokeAbility {
  text-align: center;
  font-size: 0.7rem;
  color: #1b1919;
}
.pokeAbility span {
  font-size: 0.9rem;
  color: #333;
}
#myDialog {
  pointer-events: none;
  position: fixed;
  display: grid;
  height: 100vh;
  max-height: none;
  width: 100%;
  max-width: none;
  justify-items: center;
  opacity: 0;
  overscroll-behavior: contain;
  z-index: 999;
  background-color: transparent;
  color: inherit;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-property: transform, opacity, visibility;
  overflow-y: hidden;
  place-items: center;
  border: none;
  background-color: rgba(0, 0, 0, 0.4);
}
#myDialog[open] {
  pointer-events: auto;
  visibility: visible;
  opacity: 1;
}
.modal {
  background-color: rgb(255, 223, 182);
  width: 100%;
  max-width: 400px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
  position: relative;
}
.model_Name {
  font-size: 1.8rem;
}
.model_Image {
  width: 100%;
  max-width: 300px;
  margin-bottom: 1rem;
}
.modal_Moves {
  text-decoration: solid underline;
  color: #7c5d5d;
  margin-bottom: 1rem;
}
ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: decimal;
  list-style-position: inside;
  margin-bottom: 1rem;
}
li {
  font-size: 14px;
  color: #d66910;
}
#closeBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.specs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.specs h4 {
  font-size: 14px;
  color: #7c7b7b;
}
#toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  box-shadow: none;
}
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .card {
    width: 100%;
    max-width: 350px;
  }
  h1 {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 475px) {
  h1 {
    font-size: 1.8rem;
  }
  #toggle {
    display: none;
  }
}
@media screen and (max-width: 350px) {
  h1 {
    font-size: 1.4rem;
  }
}
